{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-uppercase fs-3">{{ controller_name }}! ✅</h1>

    <article class="mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto aspernatur atque consequatur
            corporis cupiditate, deleniti deserunt dolore dolorem eaque error eveniet ex excepturi, exercitationem
            explicabo fugiat hic id inventore ipsum iste itaque, laborum laudantium maiores molestias non nulla officia
            omnis perferendis praesentium ratione repellat repellendus sed temporibus velit veniam vero voluptatum? A
            aliquam cumque facilis hic iste iure odit quasi quod soluta, suscipit, ut, vero! Ad aliquam distinctio
            explicabo facilis impedit nemo perferendis sit! Accusantium aliquid beatae eos esse natus, non optio
            provident repudiandae!</p>

        <p>Accusamus adipisci, animi, consectetur cum dignissimos dolores error eveniet facere,
            laboriosam optio porro quo quod tempore temporibus voluptate? Ab accusantium ad cupiditate enim, et
            excepturi, facere in iste labore minima natus nesciunt officia quo reiciendis repellat similique sit sunt?
            Alias, aperiam cum eligendi, eos error fugiat harum id laborum laudantium perspiciatis quaerat repellendus
            ullam, velit. Amet consequatur consequuntur delectus deserunt dolor expedita mollitia perferendis sit soluta
            voluptas. Eum illum magni natus optio tenetur. Accusantium amet asperiores aspernatur assumenda beatae
            consectetur cum cumque cupiditate deleniti dicta eaque ipsum magnam minima, necessitatibus nostrum optio
            placeat quaerat, reprehenderit similique tenetur ullam unde voluptate. Accusantium alias doloremque iure,
            omnis optio perspiciatis possimus, praesentium quidem quod reiciendis, rem repellat veniam?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aliquid amet blanditiis consequuntur
            corporis distinctio dolorem ducimus error excepturi incidunt ipsum itaque laborum laudantium magni nam
            necessitatibus neque nulla, omnis porro praesentium provident quaerat, quos ratione repellat saepe sapiente
            similique totam ullam ut vitae voluptate voluptatem voluptates. Iste, tempore?</p>
    </article>
</div>
{% endblock %}
