<form action="{{ path('app_admin_comment_delete', {id: c.id}) }}" method="POST" onsubmit="return confirm('Est vous sur de votre suppression ?')">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}" />
    <button class="btn btn-sm btn-danger" type="submit">delete</button>
</form>