<form action="{{ path('app_admin_article_delete', {id: a.id}) }}" method="POST" onsubmit="return confirm('Est vous sur de votre suppression')">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a.id) }}">
    <button type="submit" class="btn btn-sm btn-danger">delete</button>
</form>