{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-uppercase fs-3">{{ controller_name }} ✅</h1>
</div>
{% endblock %}
